@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181818;
}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}

.linear_grey_1 {
  background-image: linear-gradient(to right, #e8e8e8, #8c8c8c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.linear_black_paralax {
  position: relative;
}

.linear_black_paralax::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -3px;
  width: 101.5%;
  height: 40%;
  background: linear-gradient(
    to bottom,
    rgba(24, 24, 24, 0),
    rgba(24, 24, 24, 0.041),
    rgba(24, 24, 24, 0.818),
    rgb(24, 24, 24),
    rgba(24, 24, 24, 1)
  );
  pointer-events: none;
}

@media (min-width: 641px) and (min-width: 2000px) {
  .linear_black_paralax::before {
    display: none;
  }
}

.linear_black_card {
  background: linear-gradient(to bottom, #202020, #2d2d2d, #1d1d1d);
}

.hero_background {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

@media (max-width: 640px) {
  .hero_background {
    background-image: url("/assets/images/background-hero-sm.webp");
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .hero_background {
    background-image: url("/assets/images/background-hero-md.webp");
  }
}

@media (min-width: 1024px) {
  .hero_background {
    background-image: url("/assets/images/background-hero-lg.webp");
  }
}
